# Virtual environment folder
.venv/
venv/
venv311/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.pyc

# Other environment files (if any)
*.env
housing_report.pdf
