# Linting & Code Quality
black>=24.3
flake8>=6.1
isort>=5.12

# Jupyter Notebook Tools
nbstripout>=0.6
jupyterlab>=4.0

# Git Hooks
pre-commit>=3.4

# Typing (optional)
mypy>=1.0

# Development Utilities
ipykernel>=6.0
